<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>キーボードと無線接続して設定を行うためにBluetoothを使用します。</string>
  <key>NSRemovableVolumesUsageDescription</key>
  <string>キーボードにファームウェアを書き込むため、書き込みモードのキーボード（リムーバブルボリューム）へアクセスします。</string>
</dict>
</plist>